body {
    background-color: #F0DFC9;
    color: #296379;
    font-family: monospace;
    font-weight: bold;

}
h1 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

h2 {
    font-size: 32px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.container {
    max-width: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
}
    
    
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}
    
@media (max-width: 768px) {
    .column {
    flex: 100%; }
}

@media (max-width: 768px) {
    #myForm {
        flex: 100%;
    }
    .campo {
        flex: 100%;
    }
}


#myForm {
    background-color: #296379;
    width: min( 600px, 100% );
    margin: 0 auto; 
    padding: 2rem;
    border-radius: 2rem;
    color: #F0DFC9;
}

#myForm input {
    width: 90%;
    height: 30px;
    margin: 0.2rem;
}


.btn {
    padding: 0.5rem 1rem;
    margin-top: 0.8rem;
    border: none;
    cursor: pointer;
    background-color: #EA6520;
    color: #296379;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: #F0DFC9;
    color: #296379;
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #EA6520;
}
    
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}
    
li>a {
    padding: 8px 24px;
}
   
li {
    list-style-type: none;
}

a {
    color: #296379;
    text-decoration:none;
}

a:hover {
    color: #F0DFC9;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: #F0DFC9;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-size: 20px;
      color: rgb(41, 99, 121);
      cursor: pointer;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20, 48, 59, 0.95);
      width: 92%;
      height: 100%;
      top: 40px;
      left: 10px;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
      font-family: monospace;
    }
}

.imagenes {
    display: flex;
    justify-content: center;
}

.img-1{
    margin-right: 15px;
}

.img-2{
    margin-right: 15px;
}

.img-3{
    margin-right: 15px;
}
.vid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.servicios ul {
    display: flex;
    justify-content: space-evenly;
}
  
.serviceimage {
    margin-top: 50px;
    margin-right: 20px;
}

.logos:hover {
    fill: #EA6520;
    cursor: pointer;
}

